body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: 'Times New Roman',  serif;
    background-color:aliceblue;
    border-radius: 15px;
    max-width: 600px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    border: 2px solid;
    background-color:black;
    color: coral;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid;
    background-color: aliceblue;
    color: black;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bolder;
}

button:hover{
    background-color:hwb(0 95% 5%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: deepskyblue;
    
}
.operator-btn:hover{
    background-color:powderblue;
}
.operator-btn:active{
    background-color:powderblue; 
}


