<form [formGroup]="exampleForm" (ngSubmit)="onSubmit()">
    <label>Name: </label>
    <input formControlName="name" type="text"/>
    <div *ngIf="exampleForm.get('name')?.hasError('nameTaken')">
        Name is already taken!
      </div>
    <br/>

    <label>Email</label>
    <input formControlName="email" type="email"/>
    <br/>

    <div formArrayName="skills">
        <div *ngFor="let skill of skills.controls; let i = index">
            <input [formControlName]="i" type="text" placeholder="Skill"/>
            <button type="button" (click)="removeSkill(i)">Remove</button>

        </div>
        
    </div>
    <button type="button" (click)="addSkill()">Add Skill</button>
    <br/>

    <button type="submit">Submit</button>

     
</form>




